.loading-message[b-1itur7onc4] {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.post-contents[b-1itur7onc4], .comments-section[b-1itur7onc4] {
    background-color: #ffffff;
    width: 80%;
    max-width: 700px;
    border: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
}


.post-title[b-1itur7onc4] {
    font-size: 24px;
    color: #452d3d;
    margin-bottom: 10px;
}

.post-author[b-1itur7onc4] {
    font-style: italic;
    margin-bottom: 20px;
}

.author-name[b-1itur7onc4] {
    font-weight: bold;
}

.post-content[b-1itur7onc4] {
    font-size: 18px;
}

.comments-heading[b-1itur7onc4] {
    font-size: 22px;
    margin-bottom: 15px;
}

.comments-table[b-1itur7onc4] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.comment-row[b-1itur7onc4] {
    border-bottom: 1px solid #ddd;
}

.comment-author[b-1itur7onc4], .comment-content[b-1itur7onc4], .comment-votes[b-1itur7onc4] {
    padding: 10px;
}

.vote-btn[b-1itur7onc4] {
    background-color: #f2f0eb;
    color: #452d3d;
    border: 1px solid #452d3d;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upvote-btn:hover[b-1itur7onc4] {
    background-color: #89a57e;
}

.downvote-btn:hover[b-1itur7onc4] {
    background-color: #d4636a;
}
